@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Test Battle", "Index", "Battle")
    @Html.ActionLink("First One", "Index", "Battle", new { id = "95E8819D-E5A2-4B24-8793-E899C18D872F" }, null)
</div>